<h1>{{title}}</h1>
<div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Edit Site</h4>
      {{form-open 'site' url class='needs-validation'}}
        {{form-hidden "_id" site._id}}
        <div class="mb-3">
          <label for="name">Name</label>
          {{form-text 'name' site.name class="form-control" id="name"}}
          <div class="invalid-feedback">
            Valid name is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="homepage">Homepage</label>
          {{form-text 'homepage' site.homepage class="form-control" id="homepage"}}
          <div class="invalid-feedback">
            Valid homepage is required.
          </div>
        </div>

        <hr class="mb-4">
        {{form-submit 'save' 'Save Site' class="btn btn-primary btn-lg btn-block"}}
      {{form-close}}
    </div>
</div>